[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
jinja2 = "*"
sanic-ext = "*"
asyncpg = "*"
sqlalchemy = "*"
aiomysql = "*"
aiosqlite = "*"
ipdb = "*"
ipython = "==8.12"
python-environ = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
