[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
jinja2 = "*"
sanic-ext = "*"
asyncpg = "*"
sqlalchemy = "*"
aiomysql = "*"
aiosqlite = "*"
ipython = "*"
ipdb = "*"
python-environ = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
